.unionIcon1 {
    position: relative;
    width: 20.31px;
    height: 20.31px;
}
.maskGroupIcon {
    position: absolute;
    top: 96px;
    display: flex;
    left: 28%;
    width: 159px;
    height: 149.85px;
    -o-object-fit: cover;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
.home {
    position: absolute;
    top: 20px;
    left: calc(50% - 190px);
    line-height: 108px;
    text-transform: capitalize;
    background: linear-gradient(180deg, #ffe500, #fff492);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 379px;
    cursor: pointer;
}
.trade {
    position: absolute;
    top: 65px;
    left: calc(50% - 190px);
    line-height: 108px;
    text-transform: capitalize;
    background: linear-gradient(180deg, #ffe500, #fff492);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 379px;
    cursor: pointer;
}
.stake {
    position: absolute;
    top: 110px;
    left: calc(50% - 190px);
    line-height: 108px;
    text-transform: capitalize;
    background: linear-gradient(180deg, #ffe500, #fff492);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 379px;
    cursor: pointer;
}
.about {
    position: absolute;
    top: 160px;
    left: calc(50% - 190px);
    line-height: 108px;
    text-transform: capitalize;
    background: linear-gradient(180deg, #ffe500, #fff492);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 379px;
    cursor: pointer;
}
.profile {
    position: absolute;
    top: 210px;
    left: calc(50% - 190px);
    line-height: 108px;
    text-transform: capitalize;
    background: linear-gradient(180deg, #ffe500, #fff492);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 379px;
    cursor: pointer;

}
.menuIpadPro1291Child {
    position: absolute;
    top: 195px;
    left: calc(50% - 183px);
    background: linear-gradient(90deg, rgba(163, 107, 255, 0), #ffe500 49.48%, rgba(163, 110, 253, 0));
    width: 365px;
    height: 1px;
}
.menuIpadPro1291Item {
    position: absolute;
    top: 145px;
    left: calc(50% - 183px);
    background: linear-gradient(90deg, rgba(163, 107, 255, 0), #ffe500 49.48%, rgba(163, 110, 253, 0));
    width: 365px;
    height: 1px;
}
.menuIpadPro1291Inner {
    position: absolute;
    top: 100px;
    left: calc(50% - 183px);
    background: linear-gradient(90deg, rgba(163, 107, 255, 0), #ffe500 49.48%, rgba(163, 110, 253, 0));
    width: 365px;
    height: 1px;
}
.rectangleDiv {
    position: absolute;
    top:55px;
    left: calc(50% - 183px);
    background: linear-gradient(90deg, rgba(163, 107, 255, 0), #ffe500 49.48%, rgba(163, 110, 253, 0));
    width: 365px;
    height: 1px;
}
.mingcutewallet4FillIcon1 {
    position: relative;
    width: 26px;
    height: 26px;
    overflow: hidden;
    flex-shrink: 0;
}
.connectWallet {
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: -5% !important;
}
.mingcutewallet4FillParent {
    background: linear-gradient(180deg, #ffe500, #fff492);
    backdrop-filter: blur(12px);
    font-family: 'Neue Montreal';
}

.mingcutewallet4FillParent button{
    padding-top: 0px !important;
}
.materialSymbolscloseIcon1 {
    position: absolute;
    top: 30px;
    left: 383px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.unitedKingdomIcon1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.flag {
    position: absolute;
    top: 0.5px;
    left: 0px;
    width: 18px;
    height: 18px;
}
.en {
    position: absolute;
    top: 0px;
    left: 28px;
    text-transform: uppercase;
    font-weight: 500;
}
.flagParent {
    position: relative;
    width: 50px;
    height: 19px;
}
.eparrowDownBoldIcon1 {
    position: relative;
    width: 19px;
    height: 19px;
    overflow: hidden;
    flex-shrink: 0;
}
.mobileLand {
    position: absolute;
    top: 938px;
    left: 47px;
    border-radius: 10px;
    background-color: #242222;
    backdrop-filter: blur(12px);
    border: 1px solid #ffe500;
    box-sizing: border-box;
    width: 336px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 11px 15px 12px;
    gap: 236px;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-family: 'Neue Montreal';
}
.menuIpadPro1291 {
    position: relative;
    background: linear-gradient(180deg, #201d26, #1d1b20);
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    border-radius: 10px;
    border: 1px #160f1e !important;
    overflow-y: scroll;
    opacity: 0.98;
    text-align: center;
    font-size: 37px;
    color: #1f1330;
    font-family: 'Monument Extended';
    padding-bottom: 50px;
}

